*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../images/17056599.jpg);
    
    background-size: cover;
    font-family: sans-serif;
}

.post-box{
    width: 500px;
    background-color: rgb(172, 2, 2);
    box-shadow: 0 0 20px 0 rgb(253, 251, 251);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}



form{
    margin: 35px;
}

.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(248, 120, 120);
    border-radius: 14px;
    outline: none;
}

.textarea-field{
    height: 150px;
    padding-top: 10px;
}

.btn{
    border-radius: 5px;
    color: rgb(255, 254, 254);
    margin-top: 18px;
    padding: 10px;
    background-color: rgb(7, 7, 7);
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.btn2{
    border-radius: 5px;
    color: rgb(255, 254, 254);
    margin-top: 1px;
    padding: 10px;
    background-color: rgb(7, 7, 7);
    font-size: 12px;
    border: none;
    cursor: pointer;
    position: relative;
    right: -400px;
    top:-73px;

}

@media (max-width: 780px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(../images/17056599.jpg);
        background: scroll;
    }
    .side {
        display: none;
    }
    .post-box{
        top: 559px;
    }
}